


/*Vertical Card*/
.card-wrapper{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 0rem;
}
.card{
    border: none !important;
    border-radius: 10px !important;
    padding: 10px;
}
.card-Img{
    border-radius: 10px !important;
}

.title{
    font-weight: bold;
}
.desc{
}
.date{
    font-weight: bold;
    color: rgb(192, 189, 189);
}
.max-text{
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*Horizontal card*/
.card-wrapper-hor{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
}
.roundImg{
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-top: 10px;
}
.d-hor{
    padding-left: 20px;
    margin-top: 5px;
}
.remove{
    background: #fff;
    width: 100px;
    height: 100px;
}
.ver-card{
    padding: 20px;
    text-align: left;
    display: flex !important;
    flex-direction: row !important;
    border-radius: 20px !important;
    box-shadow: 0 3px 100px rgb(206, 201, 201);
}
