
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-display: column;
    background: #EBF2F7 !important;
}
.container-wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1440px;
    height: 900px;
    box-shadow: 0 3px 10px rgb(151, 170, 168);
    border-radius: 30px;
    background: #EBF2F7 !important;
}
/*Vertical Card*/
.card-wrapper{
    display: grid;
    padding: 4rem;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}
.card{
    border: none !important;
    border-radius: 10px !important;
    padding: 10px; 
}
.card-ver{
    border: none !important;
    border-radius: 8px !important;
    padding: 0px; 
    text-decoration: none !important;
    color: rgb(20, 20, 20);
    width: 274px;
    height: 315px;box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}
.card-ver :hover{
   
    text-decoration: none !important;
    color: rgb(20, 20, 20);
   
}
 .country{
     margin-bottom: 15px !important;
     font-weight: bold;
     font-size: 24px;
 }
.card-Img{
    width: 224px;
    height: 122px;
    margin-bottom: 5px;
    border-radius: 8px !important;
}

.title{
font-weight: bold;
font-size: 20px;
line-height: 23px;
}
.desc{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #212121;
}
.date{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #B9B9B9;
}
.max-text{
  max-width: 700px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.usr-card{
    text-align: left;
    border: none !important;
    display: flex !important;
    flex-direction: row !important;
    border-radius: 8px !important;
    padding-right: 40px;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}
.roundImg-user{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 1px;
  }
.d-hor-user{
    padding-left: 20px;
}


/*Main home layout*/
.wrapper{
    padding: 35px;
    padding-left: 55px;
    height: 900px;
    text-align: left;
    width: 391px;
    display: flex !important;
    flex-direction: row !important;
    border-radius: 30px !important;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14); 
}



/*buttons*/

.buttons-background{
    background: #fff;
    border: rgb(0, 0, 0) !important;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.12);
    padding: 10px !important;
    padding-left: 20px !important;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px !important;
    font-size: 30px !important;
    border-radius: 1000px !important;
}